<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello, {{ user_full_name }}!</p>
<p>{{ autor_full_name }} has created new project - {{ project_name }}.</p>
</body>
</html>
