<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Hello!</p>
<p>{{ company }} has invited you to join their team.</p>
<p>Please click the link below to accept the invitation.
    {{ link }}
</p>
</body>
</html>
